body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
  color: white;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header {
  height: 90px;
  background-color: #21222A;
  padding: 10px 5px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.nav-logo {
  width: 60px;
  margin-right: 10px;
}

.react-facts {
  color: #61DAFB;
  font-size: 1.8rem;
  font-weight: 700;
}

main {
  padding: 60px 30px;
  background-image: url("./assets/react-logo-half.png");
  background-repeat: no-repeat;
  background-position: right 75%;
}

.facts-list {
  margin-top: 45px;
  max-width: 400px;
}

.facts-list > li {
  padding-block: 10px;
  line-height: 20px;
  font-size: 1.2rem;
}

.facts-list > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}